<!-- nav bar -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">HoneyTips</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        </div>
    </div>
</nav> -->
<!-- nav bar -->
<script src="/static/js/customjs.js"></script>

<header class="header-area navbar-fade" id="header">
    <nav class="navbar">
        <a class="navbar-brand" id="navbarBrand">HoneyTips</a>
        <a class="navbar-toggler" id="toggleBtn"><i class="fa fa-bars"></i></a>
        <div class="navbar-menu" id="menu">
            <div class="nav-item"><a class="nav-link" id="navbarAbout" href="/">HoneyTips</a></div>
            <div class="nav-item"><a class="nav-link" id="navbarService" href="/baaam">BAAAM!</a></div>
            <!-- <div class="nav-item"><a class="nav-link" id="navbarPortfolio">portfolio</a></div> -->
            <!-- <div class="nav-item"><a class="nav-link" id="navbarReview">review</a></div> -->
        </div>
    </nav>
</header>